<div class="rtl">
    <div class="modal-header">
        <h3 class="modal-title">בקשות הצטרפות</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr ng-repeat="request in requests">
                <td>
                    {{request.RequestingUser.Name}}
                </td>
                <td>
                    <div class="btn-toolbar">
                        <button class="btn btn-success pull-left" ng-disabled="request.Accepted" ng-click="setAccepted(request, true)">אשר</button>
                        <button class="btn btn-danger pull-left" ng-disabled="!request.Accepted" ng-click="setAccepted(request, false)">דחה</button>
                        <button class="btn btn btn-success glyphicon glyphicon-comment pull-left" ng-click="isChatEnabled=!isChatEnabled"></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="close()">סגור</button>
    </div>
</div>