<div id="meetups">
    <div id="filterBar" class="rtl">
        <div id="filterButtons" class="container">
            <button type="button" class="btn btn-default" ng-click="filter.vegi = !filter.vegi" ng-class="filter.vegi ? 'btn-success' : ''">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="filter.kosher = !filter.kosher" ng-class="filter.kosher ? 'btn-info' : ''">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <select ng-model="filter.foodType" ng-options="foodType as foodType for foodType in foodTypes"
                    class="btn btn-default dropdown-toggle select-space"></select>
            <input type="text" placeholder="איזור גיאוגרפי" id="locationFiler" ng-model="filter.location" class="form-control" />
        </div>
    </div>

    <div id="requests">
        <tabset>
            <tab heading="הזמנתי" select="changeView(2)">
            </tab>
            <tab heading="ביקשתי" select="changeView(1)">
            </tab>
            <tab heading="הכל" active="true" select="changeView(0)">
            </tab>
        </tabset>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" ng-repeat="request in requetsts | filter: filterVegi | filter: filterKosher | filter: filterFoodType | filter: filterLocation">
                <a href="" ng-click="selectMeetup(request)">
                    <span class="glyphicon" ng-class="request.HostType == 0 ? 'glyphicon-home' : 'glyphicon-glass'" aria-hidden="true"> </span>
                    {{request.Title}}
                </a>
            </li>
        </ul>
    </div>

    <div id="map">
        <map center="{{israel.Latitude}}, {{israel.Longitude}}" zoom="18" id="mapDirective">
            <!--<marker id="meetupLocation" position="{{selectedRequest.MeetUpLocation.Latitude}},{{selectedRequest.MeetUpLocation.Longitude}}"
            on-click="markerClick()" ng-if="selectedRequest" title="Dine Place" animation="DROP"></marker>-->
        </map>
    </div>
</div>

<div id="newRequest">
    <button id="newReuqestBtn" ng-click="createRequest()">
        <img src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/2x/bt_speed_dial_2x.png">
    </button>
</div>