<div class="rtl">
    <div class="modal-header">
        <h3 class="modal-title">בקשות הצטרפות</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr ng-repeat="request in requests">
                <td>
                    {{request.RequestingUser.Name}}
                </td>
                <td>
                    <div class="btn-toolbar">
                        <button class="btn btn-success pull-left" ng-disabled="request.Accepted" ng-click="setAccepted(request, true)">
                            <span class="glyphicon" ng-class="true | checkmark"></span>
                        </button>
                        <button class="btn btn-danger pull-left" ng-disabled="!request.Accepted" ng-click="setAccepted(request, false)">
                            <span class="glyphicon" ng-class="false | checkmark"></span>
                        </button>
                        <button class="btn btn btn-success  pull-left" ng-click="isChatEnabled=!isChatEnabled">
                            <span class="glyphicon glyphicon-comment"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="close()">סגור</button>
    </div>
</div>