<div class="rtl">
    <div class="modal-header">
        <h3 class="modal-title">הצעה חדשה</h3>
    </div>
    <div class="modal-body">
        <input type="text" ng-model="meetup.Title" placeholder="שם אירוע" class="form-control" />
        
        <tabset id="requestSpesific">
            <tab heading="ביתי" select="setFoodLocation(0)">
                סוג אוכל : 
                <select ng-model="meetup.FoodType" ng-options="foodType as foodType for foodType in foodTypes"
                        class="btn btn-default dropdown-toggle select-space"></select>
                <input type="text" ng-model="meetup.Address" placeholder="כתובת" class="form-control" />
            </tab>
            <tab heading="מסעדה" select="setFoodLocation(1)">
                <table cellspacing="10">
                    <tr>
                        <td>
                            מסעדה
                        </td>
                        <td>
                            <select ng-model="meetup.Resurant" ng-options="resturant as resturant for resturant in resturants"
                                    class="btn btn-default dropdown-toggle select-space"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            סניף
                        </td>
                        <td>
                            <select ng-model="meetup.Branch" ng-options="brance as brance for brance in brances"
                                    class="btn btn-default dropdown-toggle select-space"></select>
                        </td>
                    </tr>
                </table>
            </tab>
        </tabset>

        <h4 class="alert centerText" ng-class="result | alert" ng-show="message">
            <span class="glyphicon" ng-class="result | checkmark"></span> {{message}}
        </h4>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="close()">סגור</button>
    <button class="btn btn-primary" ng-click="create()">צור</button>
</div>
</div>