#requests {
    float: right;
    width: 15%;
    direction: rtl
}

#map {
    float: left;
    width: 85%;
}

#mapDirective {
    height: 90%;
}

html,
body,
#content,
#meetups,
#map {
    height: 100%;
}

.centerText {
    text-align: center;
}

#filterBar {
    height: 40px;
}

.rtl{
    direction: rtl;
}
